<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zehuang.mapper.EmpMapper">
    <select id="list" resultType="com.zehuang.pojo.Emp">
        select emp.*, dept.name deptName
        from emp
        left join dept on emp.dept_id = dept.id
        <where>
            <if test="name != null and name != ''">
                AND emp.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="gender != null and gender != ''">
                AND emp.gender = #{gender}
            </if>
            <if test="begin != null and end != null">
                AND emp.entry_date BETWEEN #{begin} AND #{end}
            </if>
        </where>
        order by update_time desc
    </select>

    <insert id="insert">
        insert into emp(username, name, gender, phone, job, salary,
                        image, entry_date, dept_id, create_time, update_time)
        VALUES (#{username}, #{name}, #{gender}, #{phone}, #{job}, #{salary},
                #{image}, #{entryDate}, #{deptId}, #{createTime}, #{updateTime})
    </insert>


    <delete id="delete">
        delete from emp
        <where>
            id in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </where>
    </delete>

    <resultMap id="empResultMap" type="com.zehuang.pojo.Emp">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="phone" property="phone"/>
        <result column="job" property="job"/>
        <result column="salary" property="salary"/>
        <result column="image" property="image"/>
        <result column="entry_date" property="entryDate"/>
        <result column="dept_id" property="deptId"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
        <result column="dept_name" property="deptName"/>

        <collection property="exprList" ofType="com.zehuang.pojo.EmpExpr">
            <id column="ee_id" property="id"/>
            <result column="ee_empid" property="empId"/>
            <result column="ee_begin" property="begin"/>
            <result column="ee_end" property="end"/>
            <result column="ee_company" property="company"/>
            <result column="ee_job" property="job"/>
        </collection>
    </resultMap>

    <select id="getById" resultMap="empResultMap">
        select emp.*,
               dept.name        dept_name,
               emp_expr.id      ee_id,
               emp_expr.emp_id  ee_empid,
               emp_expr.begin   ee_begin,
               emp_expr.end     ee_end,
               emp_expr.company ee_company,
               emp_expr.job     ee_job
        from emp
                 left join emp_expr
                           on emp.id = emp_expr.emp_id
                 left join dept
                           on emp.dept_id = dept.id
        where emp.id = #{id}
    </select>

    <update id="update">
        UPDATE emp
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="job != null">
                job = #{job},
            </if>
            <if test="salary != null">
                salary = #{salary},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
            <if test="entryDate != null">
                entry_date = #{entryDate},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectAll" resultType="com.zehuang.pojo.Emp">
        select id,
               username,
               password,
               name,
               gender,
               phone,
               job,
               salary,
               image,
               entry_date,
               dept_id,
               create_time,
               update_time
        from emp
        order by update_time
    </select>
    <select id="getByUsernameAndPassword" resultType="com.zehuang.pojo.Emp">
        select *
        from emp
        where username = #{username}
          and password = #{password}
    </select>
</mapper>