<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zehuang.mapper.StudentMapper">
    <select id="selectAllStudents" resultType="com.zehuang.pojo.Student">
        select student.*,
        clazz.name clazzName
        from student
        left join clazz on student.clazz_id = clazz.id
        <where>
            <if test="name != null and name !='' ">
                and student.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="degree != null">
                AND student.degree = #{degree}
            </if>
            <if test="clazzId != null">
                AND student.clazz_id = #{clazzId}
            </if>
        </where>
        order by update_time desc
    </select>

    <insert id="insertStudent">
        insert into student(name, no, gender, phone, id_card, is_college, address, degree,
                            graduation_date, clazz_id, create_time, update_time)
        VALUES (#{name}, #{no}, #{gender}, #{phone}, #{idCard}, #{isCollege}, #{address}, #{degree},
                #{graduationDate}, #{clazzId}, #{createTime}, #{updateTime})
    </insert>

    <select id="selectById" resultType="com.zehuang.pojo.Student">
        select id,
               name,
               no,
               gender,
               phone,
               id_card,
               is_college,
               address,
               degree,
               graduation_date,
               clazz_id,
               violation_count,
               violation_score,
               create_time,
               update_time
        from student
        where id = #{id}
    </select>

    <update id="updateStudent">
        update student
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="no != null and no != ''">
                no = #{no},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="idCard != null and idCard != ''">
                id_card = #{idCard},
            </if>
            <if test="isCollege != null">
                is_college = #{isCollege},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="degree != null">
                degree = #{degree},
            </if>
            <if test="graduationDate != null">
                graduation_date = #{graduationDate},
            </if>
            <if test="clazzId != null">
                clazz_id = #{clazzId},
            </if>
            <if test="violationScore != null">
                violation_score = #{violationScore},
            </if>
            <if test="violationCount != null">
                violation_count = #{violationCount},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteStudent">
        delete from student
        <where>
            id in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </where>
    </delete>



</mapper>